*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0099ff;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0099ff;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0099ff;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
  --bs-primary-rgb: 0, 153, 255;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 0, 153, 255;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 52, 58, 64;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Roboto Condensed", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 300;
  --bs-body-line-height: 1.75;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

html {
  font-family: "Roboto Condensed", sans-serif;
}

/* ---NAV--- */
.nav {
  background-color: rgb(248, 249, 250);
}

.nav__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav a img {
  cursor: pointer;
  padding: 1rem 1rem 0.5rem;
  height: 150px;
  width: 150px;
}

.nav__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0.5rem 1rem;
}

.nav__list-item {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

.nav__list-item:hover {
  color: rgb(0, 0, 0);
}

/* ---HOME--- ---COFFEE--- */
.home {
  padding: 1rem 1.5rem 0;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 1.5;
}

.home__title {
  color: #212529;
  font-size: 2.5rem;
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 0.75rem;
}

.home__small-title {
  font-weight: 100;
  margin-bottom: 0.75rem;
}

.home__img {
  max-width: 100%;
  height: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.home__infos {
  margin-bottom: 1rem;
  font-weight: 100;
}

.home__infos .home__info h5 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.home__info {
  margin-bottom: 1rem;
}

.iframe__map {
  position: relative;
  top: 50px;
}

/* ---FOOTER--- */
.footer {
  background-color: rgba(52, 58, 64, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.footer__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}

.footer__list-item {
  color: #0d6efd;
  font-size: 0.8rem;
}

.footer__text {
  color: #f4f4f4;
  margin-top: 2rem;
}

.footer__text p:nth-child(1) {
  color: #f4f4f4;
  font-size: 1.2rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.7rem;
}

.footer__text p:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 100;
  text-align: center;
}

.social {
  color: #0d6efd;
}

@media (min-width: 600px) {
  .nav__container {
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 650px;
    justify-content: space-between;
    align-items: center;
  }

  .home {
    margin: auto;
    max-width: 650px;
  }

  .home__infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .home__infos .home__info h5 {
    font-size: 1rem;
    font-weight: 400;
  }

  .home__infos .home__info p {
    font-size: 0.6rem;
  }

  /*---MENU--- */

  .menu {
    max-width: 650px;
    margin: auto;
  }

  .menu1 {
    width: 50%;
  }

  .menu2 {
    width: 50%;
  }

  .menu__heading {
    text-align: left;
  }

  .menu__container {
    display: flex;
    flex-direction: row !important;
    text-align: left;
  }

  /* ---COFFEE--- */
  .coffee {
    margin: auto;
  }

  .coffee__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: space-between;
  }

  .coffee__item {
    width: 48%;
  }
}

/*---MENU--- */
.menu {
  padding: 1rem;
  text-align: center;
}
.menu__container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  margin: auto;
}

.menu__heading,
.story__heading,
.coffee__heading {
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
}

.menu__title {
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.menu__section p {
  font-weight: 100;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.menu__img {
  position: relative;
  top: 50px;
  height: auto;
  width: 100%;
}

@media (max-width: 600px) {
  .menu2 {
    display: none;
  }
}

/* ---STORY--- */
.story {
  padding: 1rem 1.5rem 0;
  max-width: 650px;
  margin: auto;
}

.story p,
.coffee__header p {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
}

.img {
  position: relative;
  top: 30px;
  margin: auto;
  max-width: 100%;
}

.story__img {
  height: auto;
  max-width: 100%;
}

/* ---COFFEE--- */
.coffee {
  padding: 1rem 1.5rem 0;
  letter-spacing: 0.07em;
  line-height: 1.5;
  max-width: 650px;
}

.coffee__items {
  display: flex;
  flex-direction: column;
}

.coffee__item {
  background-color: #e9ecef;
  margin-bottom: 1rem;
}

.coffee__item span {
  display: block;
  font-size: 0.8rem;
  padding: 1rem;
}

.coffee__item p {
  font-size: 0.9rem;
  padding: 0 1rem 1rem;
}

.coffee__item-img {
  width: 100%;
}

.coffee__item-heading {
  font-weight: 100;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}
